
		 
	


		/* https://fonts.googleapis.com/css?family=Roboto:400,700|Rubik,+sans-serif:400,700|Roboto:400,700&display=swap&subset=all */
		@font-face{font-family:roboto;font-style:normal;font-weight:400;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3GUBGEe.woff2)format('woff2');unicode-range:U+0460-052F,U+1C80-1C8A,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:roboto;font-style:normal;font-weight:400;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3iUBGEe.woff2)format('woff2');unicode-range:U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:roboto;font-style:normal;font-weight:400;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3CUBGEe.woff2)format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:roboto;font-style:normal;font-weight:400;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3-UBGEe.woff2)format('woff2');unicode-range:U+0370-0377,U+037A-037F,U+0384-038A,U+038C,U+038E-03A1,U+03A3-03FF}@font-face{font-family:roboto;font-style:normal;font-weight:400;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMawCUBGEe.woff2)format('woff2');unicode-range:U+0302-0303,U+0305,U+0307-0308,U+0310,U+0312,U+0315,U+031A,U+0326-0327,U+032C,U+032F-0330,U+0332-0333,U+0338,U+033A,U+0346,U+034D,U+0391-03A1,U+03A3-03A9,U+03B1-03C9,U+03D1,U+03D5-03D6,U+03F0-03F1,U+03F4-03F5,U+2016-2017,U+2034-2038,U+203C,U+2040,U+2043,U+2047,U+2050,U+2057,U+205F,U+2070-2071,U+2074-208E,U+2090-209C,U+20D0-20DC,U+20E1,U+20E5-20EF,U+2100-2112,U+2114-2115,U+2117-2121,U+2123-214F,U+2190,U+2192,U+2194-21AE,U+21B0-21E5,U+21F1-21F2,U+21F4-2211,U+2213-2214,U+2216-22FF,U+2308-230B,U+2310,U+2319,U+231C-2321,U+2336-237A,U+237C,U+2395,U+239B-23B7,U+23D0,U+23DC-23E1,U+2474-2475,U+25AF,U+25B3,U+25B7,U+25BD,U+25C1,U+25CA,U+25CC,U+25FB,U+266D-266F,U+27C0-27FF,U+2900-2AFF,U+2B0E-2B11,U+2B30-2B4C,U+2BFE,U+3030,U+FF5B,U+FF5D,U+1D400-1D7FF,U+1EE00-1EEFF}@font-face{font-family:roboto;font-style:normal;font-weight:400;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMaxKUBGEe.woff2)format('woff2');unicode-range:U+0001-000C,U+000E-001F,U+007F-009F,U+20DD-20E0,U+20E2-20E4,U+2150-218F,U+2190,U+2192,U+2194-2199,U+21AF,U+21E6-21F0,U+21F3,U+2218-2219,U+2299,U+22C4-22C6,U+2300-243F,U+2440-244A,U+2460-24FF,U+25A0-27BF,U+2800-28FF,U+2921-2922,U+2981,U+29BF,U+29EB,U+2B00-2BFF,U+4DC0-4DFF,U+FFF9-FFFB,U+10140-1018E,U+10190-1019C,U+101A0,U+101D0-101FD,U+102E0-102FB,U+10E60-10E7E,U+1D2C0-1D2D3,U+1D2E0-1D37F,U+1F000-1F0FF,U+1F100-1F1AD,U+1F1E6-1F1FF,U+1F30D-1F30F,U+1F315,U+1F31C,U+1F31E,U+1F320-1F32C,U+1F336,U+1F378,U+1F37D,U+1F382,U+1F393-1F39F,U+1F3A7-1F3A8,U+1F3AC-1F3AF,U+1F3C2,U+1F3C4-1F3C6,U+1F3CA-1F3CE,U+1F3D4-1F3E0,U+1F3ED,U+1F3F1-1F3F3,U+1F3F5-1F3F7,U+1F408,U+1F415,U+1F41F,U+1F426,U+1F43F,U+1F441-1F442,U+1F444,U+1F446-1F449,U+1F44C-1F44E,U+1F453,U+1F46A,U+1F47D,U+1F4A3,U+1F4B0,U+1F4B3,U+1F4B9,U+1F4BB,U+1F4BF,U+1F4C8-1F4CB,U+1F4D6,U+1F4DA,U+1F4DF,U+1F4E3-1F4E6,U+1F4EA-1F4ED,U+1F4F7,U+1F4F9-1F4FB,U+1F4FD-1F4FE,U+1F503,U+1F507-1F50B,U+1F50D,U+1F512-1F513,U+1F53E-1F54A,U+1F54F-1F5FA,U+1F610,U+1F650-1F67F,U+1F687,U+1F68D,U+1F691,U+1F694,U+1F698,U+1F6AD,U+1F6B2,U+1F6B9-1F6BA,U+1F6BC,U+1F6C6-1F6CF,U+1F6D3-1F6D7,U+1F6E0-1F6EA,U+1F6F0-1F6F3,U+1F6F7-1F6FC,U+1F700-1F7FF,U+1F800-1F80B,U+1F810-1F847,U+1F850-1F859,U+1F860-1F887,U+1F890-1F8AD,U+1F8B0-1F8BB,U+1F8C0-1F8C1,U+1F900-1F90B,U+1F93B,U+1F946,U+1F984,U+1F996,U+1F9E9,U+1FA00-1FA6F,U+1FA70-1FA7C,U+1FA80-1FA89,U+1FA8F-1FAC6,U+1FACE-1FADC,U+1FADF-1FAE9,U+1FAF0-1FAF8,U+1FB00-1FBFF}@font-face{font-family:roboto;font-style:normal;font-weight:400;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3OUBGEe.woff2)format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB}@font-face{font-family:roboto;font-style:normal;font-weight:400;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3KUBGEe.woff2)format('woff2');unicode-range:U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:roboto;font-style:normal;font-weight:400;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2)format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}@font-face{font-family:roboto;font-style:normal;font-weight:700;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3GUBGEe.woff2)format('woff2');unicode-range:U+0460-052F,U+1C80-1C8A,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F}@font-face{font-family:roboto;font-style:normal;font-weight:700;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3iUBGEe.woff2)format('woff2');unicode-range:U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116}@font-face{font-family:roboto;font-style:normal;font-weight:700;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3CUBGEe.woff2)format('woff2');unicode-range:U+1F00-1FFF}@font-face{font-family:roboto;font-style:normal;font-weight:700;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3-UBGEe.woff2)format('woff2');unicode-range:U+0370-0377,U+037A-037F,U+0384-038A,U+038C,U+038E-03A1,U+03A3-03FF}@font-face{font-family:roboto;font-style:normal;font-weight:700;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMawCUBGEe.woff2)format('woff2');unicode-range:U+0302-0303,U+0305,U+0307-0308,U+0310,U+0312,U+0315,U+031A,U+0326-0327,U+032C,U+032F-0330,U+0332-0333,U+0338,U+033A,U+0346,U+034D,U+0391-03A1,U+03A3-03A9,U+03B1-03C9,U+03D1,U+03D5-03D6,U+03F0-03F1,U+03F4-03F5,U+2016-2017,U+2034-2038,U+203C,U+2040,U+2043,U+2047,U+2050,U+2057,U+205F,U+2070-2071,U+2074-208E,U+2090-209C,U+20D0-20DC,U+20E1,U+20E5-20EF,U+2100-2112,U+2114-2115,U+2117-2121,U+2123-214F,U+2190,U+2192,U+2194-21AE,U+21B0-21E5,U+21F1-21F2,U+21F4-2211,U+2213-2214,U+2216-22FF,U+2308-230B,U+2310,U+2319,U+231C-2321,U+2336-237A,U+237C,U+2395,U+239B-23B7,U+23D0,U+23DC-23E1,U+2474-2475,U+25AF,U+25B3,U+25B7,U+25BD,U+25C1,U+25CA,U+25CC,U+25FB,U+266D-266F,U+27C0-27FF,U+2900-2AFF,U+2B0E-2B11,U+2B30-2B4C,U+2BFE,U+3030,U+FF5B,U+FF5D,U+1D400-1D7FF,U+1EE00-1EEFF}@font-face{font-family:roboto;font-style:normal;font-weight:700;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMaxKUBGEe.woff2)format('woff2');unicode-range:U+0001-000C,U+000E-001F,U+007F-009F,U+20DD-20E0,U+20E2-20E4,U+2150-218F,U+2190,U+2192,U+2194-2199,U+21AF,U+21E6-21F0,U+21F3,U+2218-2219,U+2299,U+22C4-22C6,U+2300-243F,U+2440-244A,U+2460-24FF,U+25A0-27BF,U+2800-28FF,U+2921-2922,U+2981,U+29BF,U+29EB,U+2B00-2BFF,U+4DC0-4DFF,U+FFF9-FFFB,U+10140-1018E,U+10190-1019C,U+101A0,U+101D0-101FD,U+102E0-102FB,U+10E60-10E7E,U+1D2C0-1D2D3,U+1D2E0-1D37F,U+1F000-1F0FF,U+1F100-1F1AD,U+1F1E6-1F1FF,U+1F30D-1F30F,U+1F315,U+1F31C,U+1F31E,U+1F320-1F32C,U+1F336,U+1F378,U+1F37D,U+1F382,U+1F393-1F39F,U+1F3A7-1F3A8,U+1F3AC-1F3AF,U+1F3C2,U+1F3C4-1F3C6,U+1F3CA-1F3CE,U+1F3D4-1F3E0,U+1F3ED,U+1F3F1-1F3F3,U+1F3F5-1F3F7,U+1F408,U+1F415,U+1F41F,U+1F426,U+1F43F,U+1F441-1F442,U+1F444,U+1F446-1F449,U+1F44C-1F44E,U+1F453,U+1F46A,U+1F47D,U+1F4A3,U+1F4B0,U+1F4B3,U+1F4B9,U+1F4BB,U+1F4BF,U+1F4C8-1F4CB,U+1F4D6,U+1F4DA,U+1F4DF,U+1F4E3-1F4E6,U+1F4EA-1F4ED,U+1F4F7,U+1F4F9-1F4FB,U+1F4FD-1F4FE,U+1F503,U+1F507-1F50B,U+1F50D,U+1F512-1F513,U+1F53E-1F54A,U+1F54F-1F5FA,U+1F610,U+1F650-1F67F,U+1F687,U+1F68D,U+1F691,U+1F694,U+1F698,U+1F6AD,U+1F6B2,U+1F6B9-1F6BA,U+1F6BC,U+1F6C6-1F6CF,U+1F6D3-1F6D7,U+1F6E0-1F6EA,U+1F6F0-1F6F3,U+1F6F7-1F6FC,U+1F700-1F7FF,U+1F800-1F80B,U+1F810-1F847,U+1F850-1F859,U+1F860-1F887,U+1F890-1F8AD,U+1F8B0-1F8BB,U+1F8C0-1F8C1,U+1F900-1F90B,U+1F93B,U+1F946,U+1F984,U+1F996,U+1F9E9,U+1FA00-1FA6F,U+1FA70-1FA7C,U+1FA80-1FA89,U+1FA8F-1FAC6,U+1FACE-1FADC,U+1FADF-1FAE9,U+1FAF0-1FAF8,U+1FB00-1FBFF}@font-face{font-family:roboto;font-style:normal;font-weight:700;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3OUBGEe.woff2)format('woff2');unicode-range:U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB}@font-face{font-family:roboto;font-style:normal;font-weight:700;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3KUBGEe.woff2)format('woff2');unicode-range:U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF}@font-face{font-family:roboto;font-style:normal;font-weight:700;font-stretch:100%;font-display:swap;src:url(https://fonts.gstatic.com/s/roboto/v49/KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2)format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD}
	

/* CSS */
    

 .el-487933  {
    font-size: 16px;
    text-align: center;
} 

 
.el-846616 {
    align-items:center;
}
.el-846616 img {
    
}
 

 
.el-462482 {
    align-items:flex-end;
}
.el-462482  {
    
}
 .el-462482 a:hover { color: #4368E0;} 

 
.el-288789 {
    align-items:start;
}
.el-288789  {
    
}

 .el-288789 {
    flex-direction: row;
}  .el-288789 > .container-box:nth-child(1) {
						    width: 40%;
						    min-width: 40%;
						    max-width: 40%;
						}  .el-288789 > .container-box:nth-child(2) {
						    width: 60%;
						    min-width: 60%;
						    max-width: 60%;
						}  

 
.el-979148 {
    align-items:center;
}
.el-979148 img {
    
}
@media (max-width: 480px) {
    .el-979148 {
        align-items:flex-start;
    }
    .el-979148 img {
        
    }
}
@media (max-width: 1024px) and (min-width: 481px) {
    .el-979148 {
        
    }
    .el-979148 img {
        
    }
} 

 
.el-699395 {
    align-items:center;
}
.el-699395  {
    
}
@media (max-width: 480px) {
    .el-699395 {
        align-items:flex-end;
    }
    .el-699395  {
        
    }
}
@media (max-width: 1024px) and (min-width: 481px) {
    .el-699395 {
        
    }
    .el-699395  {
        
    }
} .el-699395 a:hover { color: #4368E0;} 

 .el-774064  {
    font-size: 16px;
    text-align: center;
} 

 .el-317470  {
    font-size: calc(34px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-317470  {
    font-size: calc(34px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-317470  {
    font-size: 40px;
    text-align: left;
  }
} 

 .el-524153  {
    font-size: calc(22px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-524153  {
    font-size: calc(22px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-524153  {
    font-size: 22px;
    text-align: left;
  }
} 

 .el-380939  {
    font-size: 18px;
    text-align: justify;
} 

 
.el-310552 {
    align-items:center;
}
.el-310552 img {
    
}
 

 .el-656848  {
    font-size: 18px;
    text-align: left;
} 

 .el-135971  {
    font-size: 20px;
    text-align: left;
} 

 .el-283102  {
    font-size: 20px;
    text-align: left;
} 

 
.el-952907 {
    align-items:center;
}
.el-952907 img {
    
}
 

 .el-361803  {
    font-size: 20px;
    text-align: left;
} 

 .el-806570  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-806570  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-806570  {
    font-size: 30px;
    text-align: left;
  }
} 

 .el-547280  {
    font-size: 20px;
    text-align: left;
} 

 
.el-547760 {
    align-items:center;
}
.el-547760 img {
    
}
 

 .el-687033  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-687033  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-687033  {
    font-size: 30px;
    text-align: left;
  }
} 

 .el-712365  {
    font-size: 20px;
    text-align: left;
} 

 .el-987761  {
    font-size: 20px;
    text-align: left;
} 

 .el-687165  {
    font-size: 30px;
    text-align: left;
} 

 .el-28030  {
    font-size: 20px;
    text-align: left;
} 

 
.el-118227 {
    align-items:center;
}
.el-118227 img {
    
}
 

 .el-864117  {
    font-size: 20px;
    text-align: left;
} 

 .el-683475  {
    font-size: 20px;
    text-align: left;
} 

 .el-706246  {
    font-size: 20px;
    text-align: left;
} 

 
.el-136180 {
    align-items:center;
}
.el-136180 img {
    
}
 

 .el-431373  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-431373  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-431373  {
    font-size: 30px;
    text-align: left;
  }
} 

 .el-103728  {
    font-size: 20px;
    text-align: left;
} 

 
.el-413738 {
    align-items:center;
}
.el-413738 img {
    
}
 

 .el-75672  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-75672  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-75672  {
    font-size: 30px;
    text-align: left;
  }
} 

 .el-582189  {
    font-size: 20px;
    text-align: left;
} 

 
.el-29568 {
    align-items:center;
}
.el-29568 img {
    
}
 

 .el-645446  {
    font-size: 20px;
    text-align: left;
} 

 .el-303475  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
}
@media screen and (min-width: 480px) {
  .el-303475  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
  }
}
@media screen and (min-width: 1024px) {
  .el-303475  {
    font-size: 30px;
    text-align: justify;
  }
} 

 .el-983592  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
}
@media screen and (min-width: 480px) {
  .el-983592  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
  }
}
@media screen and (min-width: 1024px) {
  .el-983592  {
    font-size: 30px;
    text-align: justify;
  }
} 

 .el-540054  {
    font-size: 20px;
    text-align: left;
} 

 
.el-456515 {
    align-items:center;
}
.el-456515 img {
    
}
 

 .el-269311  {
    font-size: 18px;
    text-align: left;
} 

 
.el-398155 {
    align-items:start;
}
.el-398155  {
    
}

 .el-398155 {
    flex-direction: row;
}  .el-398155 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 .el-295238  {
    font-size: 20px;
    text-align: left;
} 

 
.el-169759 {
    align-items:stretch;
}
.el-169759  {
    width:100%;align-self:center;
}
 

 
.el-120837 {
    align-items:center;
}
.el-120837 img {
    
}
 

 .el-567996  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
}
@media screen and (min-width: 480px) {
  .el-567996  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
  }
}
@media screen and (min-width: 1024px) {
  .el-567996  {
    font-size: 30px;
    text-align: justify;
  }
} 

 
.el-867583 {
    align-items:start;
}
.el-867583  {
    
}

 .el-867583 {
    flex-direction: row;
}  .el-867583 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-430797 {
    align-items:start;
}
.el-430797  {
    
}

 .el-430797 {
    flex-direction: row;
}  .el-430797 > .container-box:nth-child(1) {
						    width: 80px;
						    min-width: 80px;
						    max-width: 80px;
						}  .el-430797 > .container-box:nth-child(2) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-421082 {
    align-items:flex-start;
}
.el-421082 img {
    
}
 

 .el-518178  {
    font-size: 18px;
    text-align: left;
} 

 
.el-640932 {
    align-items:flex-start;
}
.el-640932 img {
    
}
 

 .el-452778  {
    font-size: 20px;
    text-align: left;
} 

 
.el-771005 {
    align-items:start;
}
.el-771005  {
    
}

 .el-771005 {
    flex-direction: row;
}  .el-771005 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-719071 {
    align-items:start;
}
.el-719071  {
    
}

 .el-719071 {
    flex-direction: row;
}  .el-719071 > .container-box:nth-child(1) {
						    width: 80px;
						    min-width: 80px;
						    max-width: 80px;
						}  .el-719071 > .container-box:nth-child(2) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-86509 {
    align-items:flex-start;
}
.el-86509 img {
    
}
 

 .el-827886  {
    font-size: 18px;
    text-align: left;
} 

 
.el-955606 {
    align-items:flex-start;
}
.el-955606 img {
    
}
 

 .el-736389  {
    font-size: 20px;
    text-align: left;
} 

 
.el-389976 {
    align-items:start;
}
.el-389976  {
    
}

 .el-389976 {
    flex-direction: row;
}  .el-389976 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-711966 {
    align-items:start;
}
.el-711966  {
    
}

 .el-711966 {
    flex-direction: row;
}  .el-711966 > .container-box:nth-child(1) {
						    width: 80px;
						    min-width: 80px;
						    max-width: 80px;
						}  .el-711966 > .container-box:nth-child(2) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-142049 {
    align-items:flex-start;
}
.el-142049 img {
    
}
 

 .el-76889  {
    font-size: 18px;
    text-align: left;
} 

 
.el-123185 {
    align-items:flex-start;
}
.el-123185 img {
    
}
 

 .el-320542  {
    font-size: 20px;
    text-align: left;
} 

 
.el-795511 {
    align-items:start;
}
.el-795511  {
    
}

 .el-795511 {
    flex-direction: row;
}  .el-795511 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 .el-362837  {
    font-size: 28px;
    text-align: center;
} 

 .el-821562  {
    font-size: 20px;
    text-align: center;
} 

 .el-598984  {
    font-size: 18px;
    text-align: center;
} 

 
.el-736342 {
    align-items:stretch;
}
.el-736342  {
    width:100%;align-self:center;
}
 

 
.el-444340 {
    align-items:center;
}
.el-444340 img {
    
}
 

 
.el-901816 {
    align-items:start;
}
.el-901816  {
    
}

 .el-901816 {
    flex-direction: row;
}  .el-901816 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 .el-385753  {
    font-size: 18px;
    text-align: center;
} 

 
.el-622790 {
    align-items:center;
}
.el-622790 img {
    
}
 

 .el-64655  {
    font-size: 14px;
    text-align: center;
} 

 .el-953772  {
    font-size: 18px;
    text-align: center;
} 

 
.el-433250 {
    align-items:start;
}
.el-433250  {
    
}

 .el-433250 {
    flex-direction: row;
}  .el-433250 > .container-box:nth-child(1) {
						    width: 30px;
						    min-width: 30px;
						    max-width: 30px;
						}  .el-433250 > .container-box:nth-child(2) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-625158 {
    align-items:center;
}
.el-625158 img {
    
}
 

 .el-633140  {
    font-size: 14px;
    text-align: left;
} 

 
.el-716321 {
    align-items:start;
}
.el-716321  {
    
}

 .el-716321 {
    flex-direction: row;
}  .el-716321 > .container-box:nth-child(1) {
						    width: 30px;
						    min-width: 30px;
						    max-width: 30px;
						}  .el-716321 > .container-box:nth-child(2) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-584488 {
    align-items:center;
}
.el-584488 img {
    
}
 

 .el-409950  {
    font-size: 14px;
    text-align: left;
} 

 
.el-665740 {
    align-items:start;
}
.el-665740  {
    
}

 .el-665740 {
    flex-direction: row;
}  .el-665740 > .container-box:nth-child(1) {
						    width: 30px;
						    min-width: 30px;
						    max-width: 30px;
						}  .el-665740 > .container-box:nth-child(2) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-391214 {
    align-items:center;
}
.el-391214 img {
    
}
 

 .el-753691  {
    font-size: 14px;
    text-align: left;
} 

 
.el-843583 {
    align-items:start;
}
.el-843583  {
    
}

 .el-843583 {
    flex-direction: row;
}  .el-843583 > .container-box:nth-child(1) {
						    width: 30px;
						    min-width: 30px;
						    max-width: 30px;
						}  .el-843583 > .container-box:nth-child(2) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-26394 {
    align-items:center;
}
.el-26394 img {
    
}
 

 .el-894008  {
    font-size: 14px;
    text-align: left;
} 

 
.el-778076 {
    align-items:center;
}
.el-778076 img {
    
}
 

 
.el-756786 {
    align-items:stretch;
}
.el-756786  {
    width:100%;align-self:center;
}
 

 .el-452365  {
    font-size: 16px;
    text-align: center;
} 

 .el-790619  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-790619  {
    font-size: calc(34px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-790619  {
    font-size: 40px;
    text-align: left;
  }
} 

 .el-151879  {
    font-size: calc(22px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-151879  {
    font-size: calc(22px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-151879  {
    font-size: 22px;
    text-align: left;
  }
} 

 .el-984248  {
    font-size: 18px;
    text-align: justify;
} 

 
.el-416123 {
    align-items:center;
}
.el-416123 img {
    
}
 

 .el-159339  {
    font-size: 18px;
    text-align: left;
} 

 .el-904274  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-904274  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-904274  {
    font-size: 20px;
    text-align: left;
  }
} 

 .el-863941  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-863941  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-863941  {
    font-size: 20px;
    text-align: left;
  }
} 

 
.el-956283 {
    align-items:center;
}
.el-956283 img {
    
}
 

 .el-97240  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-97240  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-97240  {
    font-size: 20px;
    text-align: left;
  }
} 

 .el-383390  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-383390  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-383390  {
    font-size: 30px;
    text-align: left;
  }
} 

 .el-862277  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-862277  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-862277  {
    font-size: 20px;
    text-align: left;
  }
} 

 
.el-125427 {
    align-items:center;
}
.el-125427 img {
    
}
 

 .el-442280  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-442280  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-442280  {
    font-size: 30px;
    text-align: left;
  }
} 

 .el-398991  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-398991  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-398991  {
    font-size: 20px;
    text-align: left;
  }
} 

 .el-365051  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-365051  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-365051  {
    font-size: 20px;
    text-align: left;
  }
} 

 .el-141569  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-141569  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-141569  {
    font-size: 30px;
    text-align: left;
  }
} 

 .el-744108  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-744108  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-744108  {
    font-size: 20px;
    text-align: left;
  }
} 

 
.el-989342 {
    align-items:center;
}
.el-989342 img {
    
}
 

 .el-382474  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-382474  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-382474  {
    font-size: 20px;
    text-align: left;
  }
} 

 .el-63945  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-63945  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-63945  {
    font-size: 20px;
    text-align: left;
  }
} 

 .el-48036  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-48036  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-48036  {
    font-size: 20px;
    text-align: left;
  }
} 

 
.el-997309 {
    align-items:center;
}
.el-997309 img {
    
}
 

 .el-910002  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-910002  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-910002  {
    font-size: 30px;
    text-align: left;
  }
} 

 .el-106331  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-106331  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-106331  {
    font-size: 20px;
    text-align: left;
  }
} 

 
.el-193877 {
    align-items:center;
}
.el-193877 img {
    
}
 

 .el-939470  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-939470  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-939470  {
    font-size: 30px;
    text-align: left;
  }
} 

 .el-329151  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-329151  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-329151  {
    font-size: 20px;
    text-align: left;
  }
} 

 
.el-963796 {
    align-items:center;
}
.el-963796 img {
    
}
 

 .el-11558  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-11558  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-11558  {
    font-size: 20px;
    text-align: left;
  }
} 

 .el-180758  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-180758  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
  }
}
@media screen and (min-width: 1024px) {
  .el-180758  {
    font-size: 30px;
    text-align: justify;
  }
} 

 .el-735169  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-735169  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
  }
}
@media screen and (min-width: 1024px) {
  .el-735169  {
    font-size: 30px;
    text-align: justify;
  }
} 

 .el-878321  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-878321  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-878321  {
    font-size: 20px;
    text-align: left;
  }
} 

 
.el-830308 {
    align-items:center;
}
.el-830308 img {
    
}
 

 .el-920625  {
    font-size: 18px;
    text-align: left;
} 

 
.el-716632 {
    align-items:start;
}
.el-716632  {
    
}

 .el-716632 {
    flex-direction: row;
}  .el-716632 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 .el-291521  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-291521  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-291521  {
    font-size: 20px;
    text-align: left;
  }
} 

 
.el-422027 {
    align-items:stretch;
}
.el-422027  {
    width:100%;align-self:center;
}
 

 
.el-128498 {
    align-items:center;
}
.el-128498 img {
    
}
 

 .el-111575  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-111575  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
  }
}
@media screen and (min-width: 1024px) {
  .el-111575  {
    font-size: 30px;
    text-align: justify;
  }
} 

 
.el-720908 {
    align-items:start;
}
.el-720908  {
    
}

 .el-720908 {
    flex-direction: row;
}  .el-720908 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-814380 {
    align-items:start;
}
.el-814380  {
    
}

 .el-814380 {
    flex-direction: row;
}  .el-814380 > .container-box:nth-child(1) {
						    width: 80px;
						    min-width: 80px;
						    max-width: 80px;
						}  .el-814380 > .container-box:nth-child(2) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-309291 {
    align-items:flex-start;
}
.el-309291 img {
    
}
 

 .el-812059  {
    font-size: 18px;
    text-align: left;
} 

 
.el-446514 {
    align-items:flex-start;
}
.el-446514 img {
    
}
 

 .el-334544  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-334544  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-334544  {
    font-size: 20px;
    text-align: left;
  }
} 

 
.el-237991 {
    align-items:start;
}
.el-237991  {
    
}

 .el-237991 {
    flex-direction: row;
}  .el-237991 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-950358 {
    align-items:start;
}
.el-950358  {
    
}

 .el-950358 {
    flex-direction: row;
}  .el-950358 > .container-box:nth-child(1) {
						    width: 80px;
						    min-width: 80px;
						    max-width: 80px;
						}  .el-950358 > .container-box:nth-child(2) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-621134 {
    align-items:flex-start;
}
.el-621134 img {
    
}
 

 .el-270545  {
    font-size: 18px;
    text-align: left;
} 

 
.el-444685 {
    align-items:flex-start;
}
.el-444685 img {
    
}
 

 .el-137589  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-137589  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-137589  {
    font-size: 20px;
    text-align: left;
  }
} 

 
.el-186021 {
    align-items:start;
}
.el-186021  {
    
}

 .el-186021 {
    flex-direction: row;
}  .el-186021 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-555922 {
    align-items:start;
}
.el-555922  {
    
}

 .el-555922 {
    flex-direction: row;
}  .el-555922 > .container-box:nth-child(1) {
						    width: 80px;
						    min-width: 80px;
						    max-width: 80px;
						}  .el-555922 > .container-box:nth-child(2) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-241341 {
    align-items:flex-start;
}
.el-241341 img {
    
}
 

 .el-154933  {
    font-size: 18px;
    text-align: left;
} 

 
.el-608064 {
    align-items:flex-start;
}
.el-608064 img {
    
}
 

 .el-157276  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-157276  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-157276  {
    font-size: 20px;
    text-align: left;
  }
} 

 
.el-479858 {
    align-items:start;
}
.el-479858  {
    
}

 .el-479858 {
    flex-direction: row;
}  .el-479858 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 .el-294171  {
    font-size: calc(24px + 8 * ((100vw - 320px) / 960));
    text-align: center;
}
@media screen and (min-width: 480px) {
  .el-294171  {
    font-size: calc(28px + 8 * ((100vw - 320px) / 960));
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .el-294171  {
    font-size: 28px;
    text-align: center;
  }
} 

 .el-467897  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: center;
}
@media screen and (min-width: 480px) {
  .el-467897  {
    font-size: calc(20px + 8 * ((100vw - 320px) / 960));
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .el-467897  {
    font-size: 20px;
    text-align: center;
  }
} 

 .el-521818  {
    font-size: 18px;
    text-align: center;
} 

 
.el-169158 {
    align-items:stretch;
}
.el-169158  {
    width:100%;align-self:center;
}
 

 
.el-192628 {
    align-items:center;
}
.el-192628 img {
    
}
 

 .el-328467  {
    font-size: 16px;
    text-align: center;
} 

 .el-500947  {
    font-size: calc(34px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-500947  {
    font-size: calc(34px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-500947  {
    font-size: 40px;
    text-align: left;
  }
} 

 .el-53862  {
    font-size: calc(22px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-53862  {
    font-size: calc(22px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-53862  {
    font-size: 22px;
    text-align: left;
  }
} 

 .el-101146  {
    font-size: 18px;
    text-align: justify;
} 

 
.el-468562 {
    align-items:center;
}
.el-468562 img {
    
}
 

 .el-957365  {
    font-size: 18px;
    text-align: left;
} 

 .el-327826  {
    font-size: 20px;
    text-align: left;
} 

 .el-420928  {
    font-size: 20px;
    text-align: left;
} 

 
.el-182896 {
    align-items:center;
}
.el-182896 img {
    
}
 

 .el-365732  {
    font-size: 20px;
    text-align: left;
} 

 .el-465190  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-465190  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-465190  {
    font-size: 30px;
    text-align: left;
  }
} 

 .el-396892  {
    font-size: 20px;
    text-align: left;
} 

 
.el-552688 {
    align-items:center;
}
.el-552688 img {
    
}
 

 .el-964794  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-964794  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-964794  {
    font-size: 30px;
    text-align: left;
  }
} 

 .el-689716  {
    font-size: 20px;
    text-align: left;
} 

 .el-912861  {
    font-size: 20px;
    text-align: left;
} 

 .el-888753  {
    font-size: 30px;
    text-align: left;
} 

 .el-750149  {
    font-size: 20px;
    text-align: left;
} 

 
.el-859381 {
    align-items:center;
}
.el-859381 img {
    
}
 

 .el-142297  {
    font-size: 20px;
    text-align: left;
} 

 .el-653017  {
    font-size: 20px;
    text-align: left;
} 

 .el-708933  {
    font-size: 20px;
    text-align: left;
} 

 
.el-693946 {
    align-items:center;
}
.el-693946 img {
    
}
 

 .el-784280  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-784280  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-784280  {
    font-size: 30px;
    text-align: left;
  }
} 

 .el-305802  {
    font-size: 20px;
    text-align: left;
} 

 
.el-946719 {
    align-items:center;
}
.el-946719 img {
    
}
 

 .el-553588  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-553588  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-553588  {
    font-size: 30px;
    text-align: left;
  }
} 

 .el-458518  {
    font-size: 20px;
    text-align: left;
} 

 
.el-353662 {
    align-items:center;
}
.el-353662 img {
    
}
 

 .el-420224  {
    font-size: 20px;
    text-align: left;
} 

 .el-977210  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
}
@media screen and (min-width: 480px) {
  .el-977210  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
  }
}
@media screen and (min-width: 1024px) {
  .el-977210  {
    font-size: 30px;
    text-align: justify;
  }
} 

 .el-39170  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
}
@media screen and (min-width: 480px) {
  .el-39170  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
  }
}
@media screen and (min-width: 1024px) {
  .el-39170  {
    font-size: 30px;
    text-align: justify;
  }
} 

 .el-434618  {
    font-size: 20px;
    text-align: left;
} 

 
.el-36177 {
    align-items:center;
}
.el-36177 img {
    
}
 

 .el-152784  {
    font-size: 18px;
    text-align: left;
} 

 
.el-234249 {
    align-items:start;
}
.el-234249  {
    
}

 .el-234249 {
    flex-direction: row;
}  .el-234249 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 .el-129737  {
    font-size: 20px;
    text-align: left;
} 

 
.el-841995 {
    align-items:stretch;
}
.el-841995  {
    width:100%;align-self:center;
}
 

 
.el-221367 {
    align-items:center;
}
.el-221367 img {
    
}
 

 .el-428662  {
    font-size: calc(30px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
}
@media screen and (min-width: 480px) {
  .el-428662  {
    font-size: calc(26px + 8 * ((100vw - 320px) / 960));
    text-align: justify;
  }
}
@media screen and (min-width: 1024px) {
  .el-428662  {
    font-size: 30px;
    text-align: justify;
  }
} 

 
.el-697131 {
    align-items:start;
}
.el-697131  {
    
}

 .el-697131 {
    flex-direction: row;
}  .el-697131 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-233631 {
    align-items:start;
}
.el-233631  {
    
}

 .el-233631 {
    flex-direction: row;
}  .el-233631 > .container-box:nth-child(1) {
						    width: 80px;
						    min-width: 80px;
						    max-width: 80px;
						}  .el-233631 > .container-box:nth-child(2) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-229192 {
    align-items:flex-start;
}
.el-229192 img {
    
}
 

 .el-891599  {
    font-size: 18px;
    text-align: left;
} 

 
.el-207994 {
    align-items:flex-start;
}
.el-207994 img {
    
}
 

 .el-825011  {
    font-size: 20px;
    text-align: left;
} 

 
.el-683499 {
    align-items:start;
}
.el-683499  {
    
}

 .el-683499 {
    flex-direction: row;
}  .el-683499 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-543006 {
    align-items:start;
}
.el-543006  {
    
}

 .el-543006 {
    flex-direction: row;
}  .el-543006 > .container-box:nth-child(1) {
						    width: 80px;
						    min-width: 80px;
						    max-width: 80px;
						}  .el-543006 > .container-box:nth-child(2) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-761472 {
    align-items:flex-start;
}
.el-761472 img {
    
}
 

 .el-696530  {
    font-size: 18px;
    text-align: left;
} 

 
.el-180014 {
    align-items:flex-start;
}
.el-180014 img {
    
}
 

 .el-173818  {
    font-size: 20px;
    text-align: left;
} 

 
.el-600579 {
    align-items:start;
}
.el-600579  {
    
}

 .el-600579 {
    flex-direction: row;
}  .el-600579 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-957579 {
    align-items:start;
}
.el-957579  {
    
}

 .el-957579 {
    flex-direction: row;
}  .el-957579 > .container-box:nth-child(1) {
						    width: 80px;
						    min-width: 80px;
						    max-width: 80px;
						}  .el-957579 > .container-box:nth-child(2) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-896406 {
    align-items:flex-start;
}
.el-896406 img {
    
}
 

 .el-309252  {
    font-size: 18px;
    text-align: left;
} 

 
.el-414344 {
    align-items:flex-start;
}
.el-414344 img {
    
}
 

 .el-939510  {
    font-size: 20px;
    text-align: left;
} 

 
.el-98925 {
    align-items:start;
}
.el-98925  {
    
}

 .el-98925 {
    flex-direction: row;
}  .el-98925 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 .el-432250  {
    font-size: 28px;
    text-align: center;
} 

 .el-928142  {
    font-size: 20px;
    text-align: center;
} 

 .el-425003  {
    font-size: 18px;
    text-align: center;
} 

 
.el-242808 {
    align-items:stretch;
}
.el-242808  {
    width:100%;align-self:center;
}
 

 
.el-186308 {
    align-items:center;
}
.el-186308 img {
    
}
 

 
.el-330819 {
    align-items:start;
}
.el-330819  {
    
}

 .el-330819 {
    flex-direction: row;
}  .el-330819 > .container-box:nth-child(1) {
						    width: unset;
						    min-width: 0;
						    max-width: unset;
						}  

 
.el-273620 {
    align-items:center;
}
.el-273620 img {
    
}
 

 .el-129568  {
    font-size: 17px;
    text-align: center;
} 

 .el-760840  {
    font-size: 18px;
    text-align: center;
} 

/*  hover button  */

				.el-169759 .btn:hover {
					color: white !important;
font-size: 30px !important; 
font-style: italic !important; 

					
					background-color: #4368E0!important; 

					
					
				} 

				.el-169759 .btn:hover .btn_sub_headline {
					
				} 

			/*  hover button  */

				.el-736342 .btn:hover {
					color: white !important;
font-size: 30px !important; 
font-style: italic !important; 

					
					background-color: #4368E0!important; 

					
					
				} 

				.el-736342 .btn:hover .btn_sub_headline {
					
				} 

			/*  hover button  */

				.el-841995 .btn:hover {
					color: white !important;
font-size: 30px !important; 
font-style: italic !important; 

					
					background-color: #4368E0!important; 

					
					
				} 

				.el-841995 .btn:hover .btn_sub_headline {
					
				} 

			/*  hover button  */

				.el-242808 .btn:hover {
					color: white !important;
font-size: 30px !important; 
font-style: italic !important; 

					
					background-color: #4368E0!important; 

					
					
				} 

				.el-242808 .btn:hover .btn_sub_headline {
					
				} 

			/*  hover button  */

				.el-422027 .btn:hover {
					color: white !important;
font-size: 30px !important; 
font-style: italic !important; 

					
					background-color: #4368E0!important; 

					
					
				} 

				.el-422027 .btn:hover .btn_sub_headline {
					
				} 

			/*  hover button  */

				.el-169158 .btn:hover {
					color: white !important;
font-size: 30px !important; 
font-style: italic !important; 

					
					background-color: #4368E0!important; 

					
					
				} 

				.el-169158 .btn:hover .btn_sub_headline {
					
				} 

			

 .el-996022  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-996022  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-996022  {
    font-size: 18px;
    text-align: left;
  }
} 

 .el-38339  {
    font-size: 18px;
    text-align: center;
} 

 .el-504234 {
    align-items: stretch;
} 



 .el-996022  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-996022  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-996022  {
    font-size: 18px;
    text-align: left;
  }
} 

 .el-38339  {
    font-size: 18px;
    text-align: left;
} 

 .el-504234 {
    align-items: stretch;
} 



 .el-996022  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
}
@media screen and (min-width: 480px) {
  .el-996022  {
    font-size: calc(18px + 8 * ((100vw - 320px) / 960));
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .el-996022  {
    font-size: 18px;
    text-align: left;
  }
} 

 .el-38339  {
    font-size: 18px;
    text-align: left;
} 

 .el-504234 {
    align-items: stretch;
} 

